/* CSS Document */
*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Helvetica, "Nimbus Sans", Arial, sans-serif;
}

body {
  margin: 0;
  background-color: black;
}

/* HEADER GEBIED */
header {
  width: 100%;
  height: 10%;
  background: #333333;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.discog {
  width: 50%;
}

.headercontainer {
  display: flex;
  padding: .3em;
}

#searchbar {
  flex-grow: 100;
  display: flex;
  flex-direction: row;
  background: #EFEEED;
  padding: .8em;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-size: 1.8em auto;
  background-position: 95% center;
  padding-right: 3em;
  border-radius: .15em
}


#searchbar input {
  width: 100%;
  border: none;
  outline: none;
  background: #EFEEED;
  font-size: 1em;
  opacity: .7;
}

#searchbar:active{
  animation-duration: 3s;
  animation-name: Gradient;
  animation-iteration-count: infinite;
}

#searchbar input:active {
  animation-duration: 3s;
  animation-name: Gradient;
  animation-iteration-count: infinite;
}

@keyframes Gradient{
    0%{background-color:#f53718}
    25%{background-color:#f36504}
    50%{background-color:#f5c606}
    75%{background-color:#f36504}
    100%{background-color:#f53718}
}



#loep {
  height: 2em;
}

#burgerstyle {
  height: 2em;
}

#hamburgerbutton {
  border: none;
  background: inherit;
}


.horizontalcenter {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
}

/* Hamburger menu final */
.uitklapuit {
  transition: .1s;
  transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.uitklapaan {
  transition: .2s;
  transform: translateY(-0.3em);
  visibility: visible;
  opacity: 1;
  display: flex;
  flex-direction: column;
  height: 15em;
}

nav ul:first-of-type {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  padding-bottom: .7em;
  border-bottom: 1px solid grey;
  padding-left: 0;
  margin: 1em 0em 0em 0em;
}

.bovenrij {
  padding: 1em;
}

nav ul a {
  padding: 1em .5em;
  color: white;
}

nav ul a:hover {
  color: grey;
}

nav ul a:active {
  text-decoration: underline;
  color: red;
  font-size: 1.1em;
}

nav ul a:visited {
  color: pink;
  text-decoration: underline;

}


.onderrij {
  padding: 1em 0em;
  border-bottom: 1px solid grey;
  text-decoration: none;

}



nav ul:nth-of-type(2) {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  color: white;
  margin: 0;
  padding: 0;
}

/* CONTENT GEBIED */
.grijs {
  width: 100%;
  height: 40%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.grijs2 {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding-left: 1em;
}

.grijs3 {
  width: 75%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  padding-left: 1em;
}

h1:first-of-type {
  color: white;
  margin: 0 0 12px;
  max-width: none;
  font-size: 100%;
  line-height: 42px;
  margin: 0;
}

/*
  a:first-of-type{
    width:10%;
    height: 15em;
  }
*/
section:first-of-type {
  display: flex;
  align-items: flex-end;
  width: 100%;
  height: 350px;
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: .5em;
}

section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: .5em;
}

section:nth-of-type(3) {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background-image: url("../images/background3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: .5em;
}

section:nth-of-type(4) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: black;
}

section:nth-of-type(4) h2 {
  width: 100%;
  justify-content: center;
  text-align: center;
  color: white;
}

section:nth-of-type(5) {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background: white;
  justify-content: center;
  text-align: center;
}

section:nth-of-type(5) h2 {
  color: black;
  margin: .3em;
  font-size: 1.2em;
}

section:nth-of-type(5) h1 {
  font-size: 1.5em;
  color: black;
  letter-spacing: .1em;
  padding-top: .7em;
}

section:nth-of-type(5) img {
  padding: 2em 0 2em 0;
  width: 75%;
}

.coverdiv {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
  padding: 0;
}

.coverdiv h3 {
  text-align: center;
  color: #8C8C8C;
  margin: .5em 0em 0em 0em;
}

.coverdiv h4 {
  text-align: center;
  color: #8C8C8C;
  margin: .1em 0em 1em 0em;
}


.coverdiv img {
  width: 60%;
  height: auto;
}

/* FOOTER GEBIED */
footer {
  display: flex;
  align-items: center;
  width: 100%;
  background: #333333;
  padding: 1em 0em 1em 0em;
  text-align: center;
  padding-top: 0;
}

footer a:first-of-type {
  width: 40%;
  background: #333333;
  border: none;
  padding: 1.5em;
  color: #8C8C8C;
}

footer a:nth-of-type(2) {
  width: 40%;
  background: #333333;
  border: none;
  border-left: 1px solid lightgrey;
  padding: 1em;
  color: #8C8C8C;
}

footer a:nth-of-type(3) {
  width: 20%;
  background: #333333;
  border: none;
  border-left: 1px solid lightgrey;
  padding: .2em;
  color: #8C8C8C;
  font-size: 2em;
}
